{% extends "index.html" %}

{% block page_title %}
    Registration
{% endblock %}
{% block content %}
    {% if ver == 'exist' %}
        <div>An Account with this email address already exists.</div>
    {% endif %}
<form name="login" action="{{ url_for('registration_user_post') }}" method="post">
    <label for="email">Email:</label>
    <input class="underline" name="email" type="text">
    <label for="password">Password:</label>
    <input class="underline" id="password" name="password" type="password" required>
    <label for="confirm_password">Confirm Password:</label>
    <input class="underline" id="confirm_password" name="confirm_password" type="password" required>
    <button type="submit" class="forward">&rarr; Sign Up</button>
</form>
<script>
var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}