{% extends "index.html" %}

{% block page_title %}{% endblock %}

{% block content %}

<div class="main_div">
    <div class="title">
        <h2>List of Users</h2>
    </div>
        <div class="main background_color">
                <div class="row_tab_head">
{#                {% for header in table_headers %}#}
                    <div class="table_headers user_id">Id</div>
                    <div class="table_headers user_mail">User Name</div>
                    <div class="table_headers">Reputation</div>
                    <div class="table_headers">Register date</div>
                    <div class="table_headers">Added questions</div>
                    <div class="table_headers">Added answers</div>
                    <div class="table_headers">Added comments</div>

{#                {% endfor %}#}
                </div>
            {% for user in users %}
            <div class="table_row">
                <div class="table_cell user_id">{{ user.id }}</div>
                <div class="table_cell user_mail">{{ user.mail }}</div>
                {% include 'reputation.html' %}
{#                {% if user.reputation <=0 %}#}
{#                    <div class="table_cell user_reputation"><i class="fas fa-graduation-cap transparent_rep"></i>#}
{#                        {{ user.reputation }}</div>#}
{#                {% elif user.reputation >0 and user.reputation <15 %}#}
{#                    <div class="table_cell user_reputation"><i class="fas fa-graduation-cap green_rep"></i>#}
{#                        {{ user.reputation }}</div>#}
{#                {% elif user.reputation >= 15 and user.reputation <99 %}#}
{#                    <div class="table_cell user_reputation"><i class="fas fa-graduation-cap yellow_rep"></i>#}
{#                        {{ user.reputation }}</div>#}
{#                {% else %}#}
{#                    <div class="table_cell user_reputation"><i class="fas fa-graduation-cap blue_rep"></i>#}
{#                        {{ user.reputation }}</div>#}
{#                {% endif %}#}
                <div class="table_cell user_submission">{{ user.submission_time }}</div>
                <div class="table_cell ">{{ user.number_of_question }}</div>
                <div class="table_cell ">{{ user.number_of_answer }}</div>
                <div class="table_cell">{{ user.number_of_comment }}</div>

            </div>
        {% endfor %}
        </div>

{#        </div>#}

</div>



{% endblock %}