{% extends "index.html" %}

{% block page_title %}Users{% endblock %}

{% block content %}

<div class="main_div">
    <div class="title">
        <h2>List of Users</h2>
    </div>
        <div class="main">
            <div class="table_headers">
                {% for header in table_headers %}
                <div class="table_cell">{{ header }}</div>
                {% endfor %}
            </div>
            {% for user in users %}
            <div class="table_row">
                <div class="table_cell">{{ user.id }}</div>
                <div class="table_cell">{{ user.mail }}</div>
                <div class="table_cell">{{ user.reputation }}</div>
                <div class="table_cell">{{ user.submission_time }}</div>
                <div class="table_cell">{{ user.number_of_question }}</div>
                <div class="table_cell">{{ user.number_of_answer }}</div>
                <div class="table_cell">{{ user.number_of_comment }}</div>

            </div>
            {% endfor %}
        </div>

</div>



{% endblock %}